name: Build & Test (Linux)

on:
  workflow_dispatch:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Build
        run: ./build.sh

      - name: Test on Linux
      if: matrix.os == 'ubuntu-latest'
        run: |
        cd build/tests
        ./UnitTests

      - name: Test on Windows
      if: matrix.os == 'windows-latest'
        run: |
        cd build/tests
        ./UnitTests.exe


