name: Build & Test (Linux)

on:
  workflow_dispatch:
  pull_request:

jobs:
  build_linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Build
        run: gcc drawSquareDoubles.c -lm
